/**
 Owl carousel styling start
**/
#owl-demo .item img {
	display: block;
	width: 100%;
	height: auto;
}

#bar {
	width: 0%;
	max-width: 100%;
	height: 4px;
	background: #222222;
}

#progressBar {
	width: 100%;
	background: #EDEDED;
}
/**
 Owl carousel styling end
**/

.owl-wrapper-outer{
	height:480px;
}

#home-product-row{
	margin-top: 40px;
	text-align: center;
}

#home-product-row > div{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #FFFFFF;
    
    background-image: -ms-linear-gradient(top, #EFEFEF 0%, #F0F0F0 100%);  /* IE10 */ 
	background-image: -moz-linear-gradient(top, #EFEFEF 0%, #F0F0F0 100%); /* Mozilla Firefox */ 
	background-image: -o-linear-gradient(top, #EFEFEF 0%, #F0F0F0 100%); /* Opera */ 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#F0F0F0)); /* Webkit (Safari/Chrome 10) */ 
	/* background-image: -webkit-linear-gradient(left top, ##EFEFEF 0%, #F0F0F0 100%); */ /* Webkit (Chrome 11+) */ 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFEFEF', endColorstr='#F0F0F0'); /* for IE */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#EFEFEF, endColorstr=#F0F0F0)";
	background-image: linear-gradient(top, #EFEFEF 0%, #F0F0F0 100%); /* Proposed W3C Markup */
	
	background-repeat:no-repeat;
}

#home-product-row .product-img{
	margin-bottom: 25px;
	border-radius: 32px;
}

#home-product-row a.product-title{
	padding-top: 37px;
	line-height: 24px;
	background-repeat: no-repeat;
	background-position: 50% 0px;
	background-image: url("../img/home_category_title_decor.png");
	
	display: block;
	font-size: 24px;
	text-transform: uppercase;
	color: #222222;

}

#home-product-row a.product-title:hover{
	color: #000000;
	font-weight: bold;
}
#home-product-row p.product-description{
	padding: 15px;
}

#buy-from-us-title{
	padding-top: 30px;
	padding-bottom: 20px;
	font-size: 40px;
	text-align: center;
}

#buy-from-us-title a{
	color: #000000;
}


#buy-from-us-body{
	padding-bottom: 20px;
}

.buy-from-us-list{
	padding: 30px 10px;
}

.buy-from-us-list > ul > li{
	line-height: 30px;	
} 

#buy-from-us-banner{
	padding-top: 1px;
	padding-bottom: 29px;
	text-align: center;
	background-image: url("../img/home_buy_from_us_decor.png");
	background-repeat: no-repeat;
	background-position: 50% 100%;
}

#buy-from-us-img{
	border-radius: 50%;
	margin: 0px auto;
}

#buy-from-us-read-more{
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
}